@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import 'tailwindcss';

@theme {
	--default-font-family: 'Inter', var(--font-sans);

	--color-dark-blue: #0d1117;
	--color-dark-blue-secondary: #21262d;
	--color-dark-blue-border: #f0f6fc1a;
}
