---
import About from "../components/About.astro";
import Hello from "../components/Hello.astro";
import Information from "../components/Information.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Puntogris">
  <div class="mt-2">
    <Hello />
    <Information />
    <About />
  </div>
</Layout>
