---
import About from "../components/About.astro";
import Hello from "../components/Hello.astro";
import Information from "../components/Information.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="pt-2">
    <Hello />
	<br />
    <Information />
    <br />
	<About />
  </div>
</Layout>
