---
import About from "../components/About.astro";
import Hello from "../components/Hello.astro";
import WhoAmI from "../components/WhoAmI.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Puntogris">
  <div class="mt-2">
    <Hello />
    <WhoAmI />
    <About />
  </div>
</Layout>
