---
import About from '../components/About.astro';
import Hello from '../components/Hello.astro';
import PageLayout from '../layouts/PageLayout.astro';
import Description from '../components/Description.astro';
---

<PageLayout title="Puntogris">
	<div class="mt-2"></div>
	<Hello />
	<Description />
	<About />
</PageLayout>
