---
import sectionsData from '../data/projects.json';
import PageLayout from '../layouts/PageLayout.astro';
import GithubFilledIcon from '../components/icons/GithubFilledIcon.svelte';
---

<PageLayout title="Puntogris - Projects">
	<div class="px-4 pb-5 pt-4 md:px-0">
		<div class="flex justify-between">
			<p class="text-3xl font-bold text-gray-300">Projects</p>
			<a href="https://github.com/puntogris">
				<GithubFilledIcon size={24} />
			</a>
		</div>
		{
			sectionsData.map((section) => (
				<div class="mb-4 mt-2">
					<p class="font text-xl text-gray-400">{section.name}</p>
					<div class="mt-3 grid grid-cols-1 gap-4 md:grid-cols-2">
						{section.projects.map((project) => (
							<a
								href={project.url}
								target="_blank"
								class="button_background rounded-md border px-4 py-2 hover:bg-gray-600 hover:bg-opacity-40"
							>
								<div>
									<p class="font-bold text-blue-400">{project.name}</p>
									<p class="mt-2 text-sm text-gray-400">{project.description}</p>
								</div>
							</a>
						))}
					</div>
				</div>
			))
		}
	</div>
</PageLayout>

<style>
	.button_background {
		border: 1px solid rgb(48, 54, 61);
	}
</style>
