<div class="mt-6 px-4 pb-4 text-gray-100 md:px-0">
  <p class="text-2xl font-bold">About Me</p>
  <p class="mt-4">
    I'm Joaquin. I have always been fascinated by the way computers work and the
    endless possibilities of what can be achieved through code. This interest
    has led me to the creation of multiple applications, mostly for mobile devices.
  </p>
  <p class="mt-4">
    Besides, I am also interested in machine learning. I have trained my own
    model using
    <a
      class="text-blue-400 hover:underline"
      href="https://www.tensorflow.org/"
      target="_blank">TensorFlow</a
    >
    and used it in one of my apps. (<a
      class="text-blue-400 hover:underline"
      href="https://github.com/puntogris/dog-breed-camera"
      target="_blank">details</a
    >)
  </p>
  <p class="mt-4">
    In addition to always researching new tech, I am involved in the open source
    community. I believe in the power of collaboration and sharing knowledge,
    and I find great joy in contributing to projects and learning from others in
    the community.
  </p>
  <p class="mt-4">
    In my personal life, I am an outgoing and sociable person who enjoys staying
    active and engaging with others. I have a love for music, you will probably
    find me with my headset on most of the time. I am also an avid tennis player
    and enjoy reading in my spare time.
  </p>
</div>
