<section class="mt-6 flex flex-col gap-4 px-4 pb-4 text-gray-100 md:px-0">
	<h1 class="text-2xl font-semibold">About Me</h1>
	<p>
		I'm Joaquin, a developer with a deep fascination for how computers work and what can be built
		through code. This passion has led me to create multiple applications, mostly for mobile
		devices.
	</p>
	<p>
		I also have a strong interest in machine learning, having trained my own model using
		<a class="text-blue-400 hover:underline" href="https://www.tensorflow.org/" target="_blank"
			>TensorFlow</a
		>
		and implemented it in one of my apps. (<a
			class="text-blue-400 hover:underline"
			href="https://github.com/puntogris/dog-breed-camera"
			target="_blank">details</a
		>)
	</p>
	<p>
		I'm constantly learning new things, and right now, I’m diving into web development. Alongside
		exploring new tech, I contribute to open-source projects, believing in the power of
		collaboration and sharing knowledge.
	</p>
	<p>
		Outside of coding, I’m passionate about music, often with my headset on, and enjoy playing
		tennis and reading in my spare time.
	</p>
</section>
