<section class="mt-6 flex flex-col gap-4 px-4 pb-4 text-gray-100 md:px-0">
	<h1 class="text-2xl font-semibold">About Me</h1>
	<p>
		I'm Joaquin, a developer who's always been fascinated by how computers work and what we can
		create with code. This curiosity has pushed me to build a bunch of apps, mostly for mobile
		devices.
	</p>
	<p>
		I also have a strong interest in machine learning, having trained my own models and even
		implemented them in one of my apps. (<a
			class="text-blue-400 hover:underline"
			href="https://github.com/puntogris/dog-breed-camera"
			target="_blank">details</a
		>)
	</p>
	<p>
		Right now, I’m diving deeper into web development, constantly picking up new skills. I’m also
		big on open-source, contributing whenever I can because I love the idea of collaborating and
		sharing knowledge.
	</p>
	<p>
		When I’m not coding, you’ll usually find me with my headphones on, lost in music, hitting the
		tennis court, or getting stuck into a good book.
	</p>
</section>
