---
const { project } = Astro.props;
---

<div class="py-2 px-4 border rounded-md button_background">
  <div>
    <a class="text-blue-400 font-bold">{project.title}</a>
  </div>
  <p class="text-gray-400 text-sm mt-2">{project.description}</p>
</div>

<style>
  .button_background {
    border: 1px solid rgb(48, 54, 61);
  }
</style>
