---
const { project } = Astro.props;
---

<a
  href={project.url}
  target="_blank"
  class="py-2 px-4 border rounded-md button_background hover:bg-gray-600 hover:bg-opacity-40"
>
  <div>
    <p class="text-blue-400 font-bold">{project.name}</p>
    <p class="text-gray-400 text-sm mt-2">{project.description}</p>
  </div>
</a>

<style>
  .button_background {
    border: 1px solid rgb(48, 54, 61);
  }
</style>
