<footer class="text-center lg:text-left mt-auto">
    <div
        class="text-gray-700 text-center p-4"
    >
        © 2021 Copyright:
        <a class="text-gray-800" href="https://tailwind-elements.com/"
            >Tailwind Elementsads</a
        >
    </div>
</footer>