<nav
  class="relative flex w-full flex-wrap items-center justify-between border-b border-gray-700 py-3 text-gray-500 shadow-lg hover:text-gray-700 focus:text-gray-700"
>
  <div
    class="container-fluid flex w-full flex-wrap items-center justify-between px-4 md:px-0"
  >
    <div class="container-fluid">
      <a class="text-sm font-bold text-gray-300" href="/">Home</a>
      <a class="ml-3 text-sm font-bold text-gray-300" href="/projects"
        >Projects</a
      >
    </div>
  </div>
</nav>
