---
import Links from './Links.svelte';
import GithubFilledIcon from './icons/GithubFilledIcon.svelte';
import GooglePlayFilledicon from './icons/GooglePlayFilled.svelte';
import BookBorderIcon from './icons/BookBorderIcon.svelte';
---

<section class="mt-3 border-b border-gray-700 pb-4">
	<div class="flex flex-wrap items-end justify-between gap-2 px-4 md:px-0">
		<div>
			<h1 class="text-3xl font-semibold text-gray-100">Hello,</h1>
			<h2 class="text-4xl font-semibold text-gray-100">
				I'm <mark class="half_background text-blue-400">Joaquin</mark>
			</h2>
			<div class="mt-4 text-gray-500">Developer / Ambitious / Curious</div>
		</div>
		<Links client:load />
	</div>

	<div class="mt-4 flex items-center gap-2 px-4 md:px-0">
		<a
			href="https://blog.puntogris.com/"
			target="_blank"
			class="bg-dark-blue-secondary border-dark-blue-border flex items-center gap-2 rounded-md border px-4 py-1.5 text-sm leading-tight font-medium text-gray-300 hover:opacity-80"
		>
			<BookBorderIcon class="size-3.5 text-gray-400" />
			Blog
		</a>
		<a
			href="https://play.google.com/store/apps/dev?id=9215074992728346327"
			target="_blank"
			class="bg-dark-blue-secondary border-dark-blue-border flex items-center gap-2 rounded-md border px-4 py-1.5 text-sm leading-tight font-medium text-gray-300 hover:opacity-80"
		>
			<GooglePlayFilledicon class="size-3.5 text-gray-400" />
			Play Store
		</a>
		<a
			href="https://github.com/puntogris"
			target="_blank"
			class="bg-dark-blue-secondary border-dark-blue-border flex items-center gap-2 rounded-md border px-4 py-1.5 text-sm leading-tight font-medium text-gray-300 hover:opacity-80"
		>
			<GithubFilledIcon class="size-3.5 text-gray-400" />
			Github
		</a>
	</div>
</section>

<style>
	.half_background {
		background: linear-gradient(transparent 75%, rgba(56, 139, 253, 0.4) 0px);
	}
</style>
