---
import Contact from "./Contact.astro";
import WhoAmI from "./WhoAmI.astro";
---

<div class="flex-none gap-4 px-4 md:flex md:px-0">
  <div class="mt-4 flex-shrink-0 flex-grow-0 basis-9/12">
    <WhoAmI />
  </div>
  <div class="mt-4 flex-shrink flex-grow-0 basis-1/4">
    <Contact />
  </div>
</div>
