---
import Contact from "./Contact.astro";
import WhoAmI from "./WhoAmI.astro";
---

<div class="md:flex flex-none gap-4 md:px-0 px-4">
  <div class="flex-grow-0 flex-shrink-0 basis-9/12 mt-4">
    <WhoAmI />
  </div>
  <div class="flex-grow-0 flex-shrink basis-1/4 mt-4">
    <Contact />
  </div>
</div>
