<ul class="text-sm text-gray-100">
  <li class="flex items-center">
    <svg
      class="text-gray-400"
      aria-hidden="true"
      focusable="false"
      role="img"
      viewBox="0 0 16 16"
      width="16"
      height="16"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z"
      >
      </path>
    </svg>
    <span class="ml-2">Santa Fe, Argentina</span>
  </li>
  <li class="mt-1 flex items-center">
    <svg
      aria-hidden="true"
      focusable="false"
      role="img"
      viewBox="0 0 16 16"
      width="16"
      height="16"
      class="text-gray-400"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zm.5 4.75a.75.75 0 00-1.5 0v3.5a.75.75 0 00.471.696l2.5 1a.75.75 0 00.557-1.392L8.5 7.742V4.75z"
      >
      </path>
    </svg>
    <a
      id="date-time-element"
      href="https://time.is/UTC-3"
      target="_blank"
      class="ml-2 normal-case hover:text-blue-400 hover:underline"></a>
  </li>
  <li class="mt-1 flex items-center">
    <svg
      aria-hidden="true"
      focusable="false"
      role="img"
      viewBox="0 0 16 16"
      width="16"
      height="16"
      class="text-gray-400"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z"
      >
      </path>
    </svg>
    <a
      href="mailto:dev@puntogris.com"
      target="_blank"
      class="ml-2 hover:text-blue-400 hover:underline">dev@puntogris.com</a
    >
  </li>
  <li class="mt-1 flex items-center">
    <svg
      aria-hidden="true"
      focusable="false"
      role="img"
      viewBox="0 0 16 16"
      width="16"
      height="16"
      class="text-gray-400"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M6.5 5.5a4 4 0 112.731 3.795.75.75 0 00-.768.18L7.44 10.5H6.25a.75.75 0 00-.75.75v1.19l-.06.06H4.25a.75.75 0 00-.75.75v1.19l-.06.06H1.75a.25.25 0 01-.25-.25v-1.69l5.024-5.023a.75.75 0 00.181-.768A3.995 3.995 0 016.5 5.5zm4-5.5a5.5 5.5 0 00-5.348 6.788L.22 11.72a.75.75 0 00-.22.53v2C0 15.216.784 16 1.75 16h2a.75.75 0 00.53-.22l.5-.5a.75.75 0 00.22-.53V14h.75a.75.75 0 00.53-.22l.5-.5a.75.75 0 00.22-.53V12h.75a.75.75 0 00.53-.22l.932-.932A5.5 5.5 0 1010.5 0zm.5 6a1 1 0 100-2 1 1 0 000 2z"
      >
      </path>
    </svg>
    <a
      href="https://github.com/puntogris.gpg"
      target="_blank"
      class="ml-2 hover:text-blue-400 hover:underline">9AFF B800 6EE1 0C0A</a
    >
  </li>
</ul>

<script>
  function getArgentinaDateTime() {
    try {
      const date = new Date().toLocaleTimeString("en-US", {
        timeZone: "America/Argentina/Buenos_Aires",
        hour: "2-digit",
        minute: "2-digit",
        hour12: false,
        weekday: "short",
      });
      return `${date} (UTC-3)`;
    } catch (error) {
      return "Error getting date.";
    }
  }

  function setDateInElement(element: Element | null) {
    if (element) {
      element.textContent = getArgentinaDateTime();
    }
  }

  const element = document.getElementById("date-time-element");

  setDateInElement(element);
  setInterval(() => setDateInElement(element), 1000);
</script>
