---
import Card from "./Card.astro";

interface Props {
  section: {
    name: string;
    projects: {
      name: string;
      description: string;
      url:string;
    }[];
  };
}
const { section } = Astro.props;
---

<div class="mt-2 mb-4">
  <p class="text-gray-400 font text-xl">{section.name}</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-3">
    {section.projects.map((project) => <Card project={project} />)}
  </div>
</div>
