---
import Card from "./Card.astro";

interface Props {
  section: {
    name: string;
    projects: {
      name: string;
      description: string;
      url: string;
    }[];
  };
}
const { section } = Astro.props;
---

<div class="mt-2 mb-4">
  <p class="font text-xl text-gray-400">{section.name}</p>
  <div class="mt-3 grid grid-cols-1 gap-4 md:grid-cols-2">
    {section.projects.map((project) => <Card project={project} />)}
  </div>
</div>
