<section class="text-gray-300 ">
  <p class="text-2xl font-bold">Who I am</p>

  <ul role="list" class="marker:text-gray-300 list-disc pl-5 space-y-1 mt-4"> 
       <li>
      Student and OIer at <a
        href="http://www.sjzezsyxx.com"
        target="_blank"
        rel="external nofollow noopener noreferrer"
        class="Link-sc-hrxz1n-0 dZknbV"
        >The Shiyan School Attached To Shijiazhuang No.2 Middle School</a
      >
    </li>
    <li>
      <a
        href="https://hexo.io"
        target="_blank"
        rel="external nofollow noopener noreferrer"
        class="Link-sc-hrxz1n-0 dZknbV">Hexo</a
      > core team member
    </li>
    <li>
      Main developer of <a
        href="https://oier.baoshuo.dev/?utm_source=baoshuo.ren&utm_medium=who-i-am&utm_campaign=link"
        target="_blank"
        rel="external nofollow noopener noreferrer"
        class="Link-sc-hrxz1n-0 dZknbV">OIerDb NG</a
      >
    </li>
    <li>and more...</li>
  </ul>
</section>
