---
import "../styles/base.css";
import BodyLayout from "../components/BodyLayout.svelte";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
}
const { title } = Astro.props;
const pathname = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <BodyLayout {pathname} client:load>
    <slot />
  </MainLayout>

  <style is:global>
    :root {
      --accent: 124, 58, 237;
    }
    html {
      background-color: #0d1117;
    }
  </style>
</html>
